psycopg2-binary
pandas
numpy
openpyxl
python-dotenv
Werkzeug
gunicorn
google-genai
pathlib
psycopg2
PyPDF2
google.api_core
setuptools
pydantic
RapidFuzz
pinecone
pdfplumber
langchain
langchain-google-genai
langchain-core
ipykernel